/* ROYAL BLUE Theme */
body {
  background-color: #f1f4ff;
}

.navbar {
  background-color: #2B3EB1;
}

.button,
.button-rounded {
  background-color: #2B3EB1;
}

.button:hover,
.button-rounded:hover {
  background-color: #1f2d80;
}

.footer4 {
  background-color: #2B3EB1;
  color: #fff;
}

.footer4-policies a {
  color: #fff;
}