/* GBS123: Maroon Theme */
body {
  background-color: #fdf5f5;
}

.navbar {
  background-color: #800000;
}

.button,
.button-rounded {
  background-color: #800000;
}

.button:hover,
.button-rounded:hover {
  background-color: #660000;
}

.footer4 {
  background-color: #800000;
  color: #fff;
}

.footer4-policies a {
  color: #fff;
}